.App {
  text-align: center;
  background: black;  /* fallback for old browsers */

  /*background-color: darkviolet;*/
  color: white;
}

.App-header {
  /*min-height: 100vh;*/
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.description {
  font-weight: 100;
  padding: 20px 10px;
  
}

.project-container {
  position: relative;
  display: inline-block;
}

.project-container .project-name {
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  left: 0;
  right: 0;        
  top: 50%;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  width: 60%;
}

.presentation-flag {
  height: 8vmin;
  pointer-events: none;
}

.texto-inicio{
  font-size: 75px;
  text-align: right;
  font-weight: 700;
  line-height: 60px;
  
}
.perfil{
  background-image: url("assets/avatar.png");
  /* background-size: cover;
  background-position: center; */
}
.content-end{
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}